.titleWrapper {
    position: absolute;
    top: 0;
    display: flex;
    // justify-content: center;
    width: 100%;
    z-index: 10;
    height: 80px;
    padding: 10px 10px 10px 20px;

    .bar {
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        text-wrap: nowrap;
        padding: 5px 15px;
        border-radius: 10px;
        font-weight: bold;
    }

    .imgContainer {
        display: flex;
        width: 80px;

        img {
            // height: 100%;
            object-fit:cover;
            margin-right: 1em;
        }
    }
}