.sideBarWrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(min(900px, 70vh));
    width: calc(min(400px, 40vw));
    top: calc(50% - calc(min(900px, 70vh)/2));
    // bottom: 50%;
    background-color: #F5F5F5;
    border-radius: 0 10px 10px 0;

    .header {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding: 0.25em 0.5em;
        font-size: 2em;
        font-weight: bold;
        cursor: pointer;
    }
}