* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 79, 80);
}